@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  font-family: "Questrial", sans-serif;
}

html {
  font-size: 62.5%;
}

@media (min-width: 0px) {
  body {
    background-color: #23003f;
  }
}
@media (min-width: 768px) {
  body {
    background-image: url(../img/wallpaper-9z-white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.top-logo {
  grid-area: logo;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.top-logo img {
  width: 10rem;
  height: 10rem;
}

@media (min-width: 768px) {
  .only-mobile {
    display: none !important;
  }
}
@media (min-width: 0px) {
  .tablet-desktop {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .tablet-desktop {
    display: flex !important;
  }
}
@media (min-width: 0px) {
  .only-desktop {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .only-desktop {
    display: flex !important;
  }
}
@media (min-width: 0px) {
  .title {
    font-size: 2rem;
    color: #FFFFFF;
    border-bottom: solid #FFFFFF 0.3rem;
  }
}
@media (min-width: 768px) {
  .title {
    padding: 1rem;
    background-color: #23003f;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 1rem;
    border-bottom: none;
  }
}
.ico-down {
  color: #23003f;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.ico-down::before {
  transform: rotateX(0deg);
}
.ico-down:focus {
  transform: rotateX(180deg);
}

@media (min-width: 0px) {
  .header {
    grid-area: header;
    background-color: #FFFFFF;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    position: sticky;
    bottom: 1rem;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 14px 13px rgb(35, 0, 63);
    -moz-box-shadow: 0px 0px 14px 13px rgb(35, 0, 63);
    box-shadow: 0px 0px 14px 13px rgb(35, 0, 63);
  }
  .header .header__navbar .navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0.5rem;
    margin: 0 !important;
  }
  .header .header__navbar .navbar__container .li-word {
    display: none;
  }
  .header .header__navbar .navbar__container .fa-solid {
    font-size: 2.5rem;
    color: #23003f;
    padding: 1rem;
  }
  .header .header__navbar .header__logo {
    width: 5rem;
    height: 5rem;
  }
}
@media (min-width: 768px) {
  .header {
    background-color: #23003f;
    border-radius: 0%;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
  .header .header__navbar .navbar__container .li-word {
    display: block;
  }
  .header .header__navbar .navbar__container .header__logo {
    width: 8rem;
    height: 8rem;
  }
  .header .header__navbar .navbar__container a {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 1rem;
    transition: all 0.2s;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .header .header__navbar .navbar__container {
    justify-content: center;
    gap: 3rem;
  }
  .header .header__navbar .navbar__container li {
    font-size: 2rem;
    transition: all 0.2s;
    padding: 1rem;
  }
  .header .header__navbar .navbar__container li:hover {
    border-bottom: solid #FFFFFF 0.1rem;
    transform: translateY(-1rem);
  }
}
/*----------INDEX----------*/
@media (min-width: 0px) {
  .body__index {
    display: grid;
    grid-template-areas: "logo" "news" "last-match" "carousel-next__matches" "shop" "footer" "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .body__index .news {
    grid-area: news;
    padding: 2rem;
  }
  .body__index .news .carousel-inner {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 100%;
  }
  .body__index .last-match {
    grid-area: last-match;
  }
  .body__index .last-match .last-match__item {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 100%;
  }
  .body__index .last-match .last-match__item .info {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__index .last-match .last-match__item .opponents .opponent .opponent-img {
    width: 7rem;
    height: 7rem;
  }
  .body__index .last-match .last-match__item .opponents .opponent .opponent-name {
    font-size: 2rem;
    font-weight: 700;
  }
  .body__index .last-match .last-match__item .opponents .scores .scores-score {
    font-size: 4rem;
    font-weight: 700;
  }
  .body__index .last-match .last-match__item .opponents .scores .scores-separator {
    font-size: 3rem;
    font-weight: 700;
  }
  .body__index .carousel__next-matches {
    grid-area: carousel-next__matches;
    padding: 2rem;
  }
  .body__index .carousel__next-matches .carousel-inner {
    border-radius: 1rem;
  }
  .body__index .carousel__next-matches .carousel-inner .carousel-item {
    background-color: #FFFFFF;
  }
  .body__index .carousel__next-matches .carousel-inner .carousel-item .info {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__index .carousel__next-matches .carousel-inner .carousel-item .opponents .opponent-img {
    width: 7rem;
    height: 7rem;
  }
  .body__index .carousel__next-matches .carousel-inner .carousel-item .opponents .opponent-name {
    font-size: 2rem;
    font-weight: 700;
  }
  .body__index .carousel__next-matches .carousel-inner .carousel-item .scores .scores-separator {
    font-size: 3rem;
    font-weight: 700;
  }
  .body__index .shop {
    grid-area: shop;
  }
  .body__index .shop .card-shop {
    padding: 2rem;
    border-radius: 1rem;
  }
  .body__index .shop .card-shop .card-img-index {
    width: 10rem;
  }
  .body__index .shop .card-shop .card-body .card-title {
    color: #23003f;
    font-size: 2rem;
    font-weight: 700;
  }
  .body__index .shop .card-shop .card-body .card-text {
    color: #23003f;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__index .shop .card-shop .card-body .btn {
    font-size: 2rem;
    background-color: #23003f;
    border: none;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .body__index {
    grid-template-areas: "header" "news" "last-match" "next-matches" "shop" "footer";
  }
  .news .carousel-inner .carousel-item .news-description {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #FFFFFF;
    color: #23003f;
    padding: 1rem;
  }
  .last-match .last-match__item {
    background-color: #23003f !important;
    color: #FFFFFF;
    width: fit-content !important;
  }
  .last-match .last-match__item .data {
    gap: 15rem !important;
  }
  .next-match {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .next-match .next-match__item {
    background-color: #23003f;
    color: #FFFFFF;
    border-radius: 1rem;
    width: 430.03px;
  }
  .next-match .next-match__item .info {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .next-match .next-match__item .data {
    gap: 15rem !important;
  }
  .next-match .opponents .opponent .opponent-img {
    width: 7rem;
    height: 7rem;
  }
  .next-match .opponents .opponent .opponent-name {
    font-size: 2rem;
    font-weight: 700;
  }
  .next-match .opponents .scores .scores-separator {
    font-size: 3rem;
    font-weight: 700;
  }
  .shop {
    margin-top: 1.5rem;
  }
  .shop .card-shop {
    background-color: #23003f;
  }
  .shop .card-shop .card-body .card-title {
    color: #FFFFFF !important;
  }
  .shop .card-shop .card-body .card-text {
    color: #FFFFFF !important;
  }
  .shop .card-shop .card-body .btn {
    background-color: #FFFFFF !important;
    color: #23003f !important;
  }
}
@media (min-width: 1200px) {
  .body__index {
    grid-template-areas: "header header" "news news" "last-match next-matches" "twitter shop" "footer footer";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0fr 0fr 0fr 1fr 0fr;
  }
  .body__index .news {
    transform: scale(0.8);
    margin: 0;
    padding: 0;
  }
  .body__index .news .carousel-inner .carousel-item .news-description {
    font-size: 3rem;
  }
  .body__index .last-match {
    padding: 0 !important;
  }
  .body__index .last-match .last-match__item .info {
    font-size: 2rem;
  }
  .body__index .last-match .last-match__item .opponents {
    gap: 6rem !important;
  }
  .body__index .last-match .last-match__item .opponents .opponent .opponent-img {
    width: 10rem;
    height: 10rem;
  }
  .body__index .last-match .last-match__item .opponents .opponent .opponent-name {
    font-size: 3rem;
  }
  .body__index .last-match .last-match__item .opponents .scores .scores-score {
    font-size: 5rem;
  }
  .body__index .last-match .last-match__item .opponents .scores .scores-separator {
    font-size: 4rem;
  }
  .body__index .last-match .ico-down:focus + .details {
    transform: translateY(0rem);
  }
  .body__index .last-match .details {
    transform: translateY(-30rem);
    z-index: -1;
    transition: 0.5s;
    background-color: #23003f;
    color: #FFFFFF;
    border-radius: 1rem;
    transition: all 1s;
    font-size: 1.5rem;
  }
  .body__index .next-match .next-match__item {
    width: 508.36px;
  }
  .body__index .next-match .next-match__item .info {
    font-size: 2rem;
  }
  .body__index .next-match .opponents {
    gap: 6rem !important;
  }
  .body__index .next-match .opponents .opponent .opponent-img {
    width: 10rem;
    height: 10rem;
  }
  .body__index .next-match .opponents .opponent .opponent-name {
    font-size: 3rem;
  }
  .body__index .next-match .opponents .scores .scores-separator {
    font-size: 4rem;
  }
  .body__index .twitter {
    grid-area: twitter;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body__index .twitter .twitter__container {
    border: solid #23003f 0.5rem;
    width: 75%;
    border-radius: 1rem;
  }
  .body__index .shop .card-shop .card-img-index {
    width: 25rem;
  }
}
/*----------END INDEX----------*/
/*----------MATCHES----------*/
@media (min-width: 0px) {
  .body__matches {
    display: grid;
    grid-template-areas: "logo" "last" "next" "footer" "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .body__matches .last__matches {
    grid-area: last;
  }
  .body__matches .last__matches .match-item {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 90%;
  }
  .body__matches .last__matches .match-item .data-game__ico {
    width: 3rem;
  }
  .body__matches .last__matches .match-item .data-game__info {
    width: 4rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .body__matches .last__matches .match-item .opponents .opponent-img {
    height: 5rem;
    width: 5rem;
  }
  .body__matches .last__matches .match-item .opponents .opponent-name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  .body__matches .last__matches .match-item .opponents .scores-score {
    font-size: 3rem;
    font-weight: 700;
  }
  .body__matches .last__matches .match-item .opponents .scores-separator {
    font-size: 2rem;
    font-weight: 700;
  }
  .body__matches .next__matches {
    grid-area: next;
    margin: 3rem 0;
  }
  .body__matches .next__matches .match-item {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 90%;
  }
  .body__matches .next__matches .match-item .data-game__ico {
    width: 3rem;
  }
  .body__matches .next__matches .match-item .data-game__info {
    width: 4rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .body__matches .next__matches .match-item .opponents .opponent-img {
    height: 5rem;
    width: 5rem;
  }
  .body__matches .next__matches .match-item .opponents .opponent-name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  .body__matches .next__matches .match-item .opponents .scores-score {
    font-size: 3rem;
    font-weight: 700;
  }
  .body__matches .next__matches .match-item .opponents .scores-separator {
    font-size: 2rem;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .body__matches {
    grid-template-areas: "header" "last" "next" "footer";
  }
  .body__matches .last__matches {
    margin-top: 3rem;
  }
  .body__matches .last__matches .match-item {
    background-color: #23003f;
    color: #FFFFFF;
  }
  .body__matches .last__matches .match-item .opponents {
    gap: 5rem !important;
  }
  .body__matches .last__matches .match-item .opponents .scores {
    gap: 1rem !important;
  }
  .body__matches .next__matches {
    margin-top: 3rem;
  }
  .body__matches .next__matches .match-item {
    background-color: #23003f;
    color: #FFFFFF;
  }
  .body__matches .next__matches .match-item .opponents {
    gap: 5rem !important;
  }
  .body__matches .next__matches .match-item .opponents .scores {
    gap: 1rem !important;
  }
}
@media (min-width: 1200px) {
  .body__matches {
    grid-template-areas: "header header" "last next" "footer footer";
    grid-template-columns: repeat(2, 1fr);
  }
  .body__matches .last__matches {
    margin-bottom: 3rem;
  }
  .body__matches .last__matches .match-item {
    border: solid transparent 0.2rem;
    transition: all 0.2s;
  }
  .body__matches .last__matches .match-item:hover {
    background-color: transparent;
    backdrop-filter: blur(0.5rem);
    color: #23003f;
    border-color: #23003f;
    cursor: pointer;
  }
  .body__matches .last__matches .match-item .data-game__ico {
    width: 5rem;
  }
  .body__matches .last__matches .match-item .data-game__info {
    font-size: 2rem;
    width: 7rem;
  }
  .body__matches .last__matches .match-item .opponents {
    gap: 3rem !important;
  }
  .body__matches .last__matches .match-item .opponents .opponent-img {
    width: 7rem;
    height: 7rem;
  }
  .body__matches .last__matches .match-item .opponents .opponent-name {
    font-size: 2rem;
  }
  .body__matches .last__matches .match-item .opponents .scores-score {
    font-size: 5rem;
  }
  .body__matches .last__matches .match-item .opponents .scores-separator {
    font-size: 4rem;
  }
  .body__matches .next__matches {
    margin-bottom: 3rem;
  }
  .body__matches .next__matches .match-item {
    border: solid transparent 0.2rem;
    transition: all 0.2s;
  }
  .body__matches .next__matches .match-item:hover {
    background-color: transparent;
    backdrop-filter: blur(0.5rem);
    color: #23003f;
    border-color: #23003f;
    cursor: pointer;
  }
  .body__matches .next__matches .match-item .data-game__ico {
    width: 5rem;
  }
  .body__matches .next__matches .match-item .data-game__info {
    font-size: 2rem;
    width: 7rem;
  }
  .body__matches .next__matches .match-item .opponents {
    gap: 3rem !important;
  }
  .body__matches .next__matches .match-item .opponents .opponent-img {
    width: 7rem;
    height: 7rem;
  }
  .body__matches .next__matches .match-item .opponents .opponent-name {
    font-size: 2rem;
  }
  .body__matches .next__matches .match-item .opponents .scores-score {
    font-size: 5rem;
  }
  .body__matches .next__matches .match-item .opponents .scores-separator {
    font-size: 4rem;
  }
}
/*----------END MATCHES----------*/
/*----------TEAMS----------*/
@media (min-width: 0px) {
  .body__teams {
    display: grid;
    grid-template-areas: "logo" "teams" "footer" "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .body__teams .teams__container {
    grid-area: teams;
  }
  .body__teams .teams__container .teams__item {
    padding: 3rem;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 1rem;
    max-width: 43rem;
  }
  .body__teams .teams__container .teams__item-img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .body__teams {
    grid-template-areas: "header" "teams" "footer";
  }
  .body__teams .teams__container {
    margin-top: 3rem;
  }
  .body__teams .teams__container .teams__item {
    background-color: #23003f;
    max-width: 53rem;
  }
}
@media (min-width: 1200px) {
  .body__teams .teams__container .teams {
    flex-direction: row !important;
    height: 75rem !important;
    width: 100% !important;
    justify-content: center;
  }
  .body__teams .teams__container .teams__item {
    height: 100%;
    width: 20%;
    transition: all 0.2s;
  }
  .body__teams .teams__container .teams__item:hover {
    transform: translateY(-2rem);
  }
}
/*----------END TEAMS----------*/
/*----------CSGO ACADEMY VALORANT LOL----------*/
@media (min-width: 0px) {
  .body__team {
    display: grid;
    grid-template-areas: "logo" "allTeam" "players" "footer" "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .body__team .allTeam {
    grid-area: allTeam;
    margin: 0 2rem;
    text-align: center;
    border-radius: 1rem;
  }
  .body__team .allTeam__ico {
    width: 10rem;
  }
  .body__team .allTeam__img {
    width: 100%;
  }
  .body__team .allTeam__img img {
    width: 100%;
    border-radius: 1rem;
  }
  .body__team .players {
    grid-area: players;
    padding: 0 2rem;
  }
  .body__team .players .player {
    background-color: #FFFFFF;
    border-radius: 1rem;
  }
  .body__team .players .player__img {
    width: 18rem;
  }
  .body__team .players .player__img-aux {
    width: 15rem;
  }
  .body__team .players .player__info p {
    font-size: 3rem;
    color: var(--violet9z);
    font-weight: 700;
    width: min-content;
    text-align: center;
  }
  .body__team .players .player__info .socialNetworks {
    font-size: 2.5rem;
  }
  .body__team .players .player__info .socialNetworks i {
    color: #23003f;
  }
}
@media (min-width: 768px) {
  .body__team {
    grid-template-areas: "header" "allTeam" "players" "footer";
  }
  .body__team .allTeam__ico {
    width: 15rem;
  }
  .body__team .allTeam__ico img {
    border: solid #23003f 0.4rem;
  }
  .body__team .players .player {
    background-color: #23003f;
  }
  .body__team .players .player__img-aux {
    padding: 1rem 0;
  }
  .body__team .players .player__info p {
    color: #FFFFFF;
    font-size: 4rem;
  }
  .body__team .players .player__info .socialNetworks {
    font-size: 3rem;
  }
  .body__team .players .player__info .socialNetworks i {
    color: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .body__team {
    justify-items: center;
  }
  .body__team .allTeam {
    max-width: 1144px;
  }
  .body__team .players {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 3rem !important;
  }
  .body__team .players .player {
    width: 315px !important;
    height: 500px !important;
    flex-direction: column;
    transition: all 0.2s;
    filter: brightness(0.7);
  }
  .body__team .players .player__img {
    width: 30rem;
  }
  .body__team .players .player:hover {
    transform: translateY(-2rem);
    background-image: url(../img/wallpaper9z.jpg);
    background-position: center;
    filter: brightness(1);
  }
}
/*----------END CSGO ACADEMY VALORANT LOL----------*/
/*----------NEWS----------*/
@media (min-width: 0px) {
  .body__news {
    display: grid;
    grid-template-areas: "logo" "news__container" "footer" "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .body__news .news__container {
    grid-area: news__container;
    padding: 0 2rem;
  }
  .body__news .news__container-items .news-item .news-img {
    width: 30rem;
    height: 17rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
  .body__news .news__container-items .news-item .news-img img {
    width: 100%;
    height: 100%;
  }
  .body__news .news__container-items .news-item__text {
    background-color: #FFFFFF;
    color: #23003f;
    text-align: center;
    font-size: 1.5rem;
    width: 30rem;
    font-weight: 700;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .body__news {
    grid-template-areas: "header" "news__container" "footer";
  }
  .body__news .news__container {
    margin-top: 3rem;
  }
  .body__news .news__container-items .news-item__text {
    background-color: #23003f;
    color: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .body__news .news__container-items .news-item {
    transition: all 0.2s;
  }
  .body__news .news__container-items .news-item:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .body__news .news__container-items .news-item .news-img {
    width: 50rem;
    height: 27rem;
  }
  .body__news .news__container-items .news-item__text {
    width: 50rem;
    font-size: 2rem;
  }
}
/*----------END NEWS----------*/
/*----------SHOP----------*/
@media (min-width: 0px) {
  .body__shop {
    display: grid;
    grid-template-areas: "logo" "shop__container" "footer" "header";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .body__shop .shop__container {
    grid-area: shop__container;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    margin-top: 0;
  }
  .body__shop .shop__container .card-shop {
    padding: 2rem;
    border-radius: 1rem;
    width: 85% !important;
    max-width: 600px;
  }
  .body__shop .shop__container .card-shop .card-img-top {
    width: 15rem;
  }
  .body__shop .shop__container .card-shop .card-body .card-title {
    color: #23003f;
    font-size: 2rem;
    font-weight: 700;
  }
  .body__shop .shop__container .card-shop .card-body .card-text {
    color: #23003f;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .body__shop .shop__container .card-shop .card-body .btn {
    font-size: 2rem;
    background-color: #23003f;
    border: none;
  }
}
@media (min-width: 768px) {
  .body__shop {
    grid-template-areas: "header" "shop__container" "footer";
    grid-template-rows: 1fr 5fr 2.5fr;
  }
  .body__shop .shop__container {
    margin: 2rem;
  }
  .body__shop .shop__container .card-shop {
    background-color: #23003f;
  }
  .body__shop .shop__container .card-shop .card-body .card-title, .body__shop .shop__container .card-shop .card-body .card-text {
    color: #FFFFFF;
  }
  .body__shop .shop__container .card-shop .card-body .btn {
    background-color: transparent;
    border: solid #FFFFFF 0.2rem;
    color: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .body__shop .shop__container .card-shop {
    transition: all 0.2s;
  }
  .body__shop .shop__container .card-shop:hover {
    background-color: transparent;
    backdrop-filter: blur(0.5rem);
  }
  .body__shop .shop__container .card-shop:hover .card-title, .body__shop .shop__container .card-shop:hover .card-text {
    color: #23003f !important;
  }
  .body__shop .shop__container .card-shop:hover .btn {
    background-color: #23003f;
    border-color: #23003f;
    color: #FFFFFF;
  }
  .body__shop .shop__container .card-shop .card-body .card-title {
    font-size: 4rem;
  }
  .body__shop .shop__container .card-shop .card-body .card-text {
    font-size: 2.5rem;
  }
}
/*----------END SHOP----------*/
@media (min-width: 0px) {
  .footer {
    grid-area: footer;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    color: #23003f;
  }
  .footer .footer__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .footer .footer__container .more__sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    gap: 2rem;
  }
  .footer .footer__container .more__sections .more__sections-item {
    color: #23003f;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .footer .footer__container .footer__social {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .footer__container .footer__social i {
    font-size: 3rem;
    color: #23003f;
  }
  .footer .footer__text {
    font-size: 2rem;
    font-weight: 700;
    color: var(--violet9z);
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer {
    background-color: #23003f;
  }
  .footer .footer__container .more__sections .more__sections-item {
    color: #FFFFFF;
  }
  .footer .footer__container .footer__social i {
    color: #FFFFFF;
  }
  .footer .footer__text {
    color: #FFFFFF;
  }
}
@media (min-width: 1200px) {
  .footer {
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }
  .footer .footer__container .more__sections {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer .footer__container .more__sectionshover {
    color: #FFFFFF;
  }
  .footer .footer__container .footer__social {
    gap: 4rem;
    margin: 2.5rem;
  }
  .footer .footer__container .footer__social i {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
