@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root{
    --violet9z: #23003f;
    --violet9z-transparent: rgba(35, 0, 63,0.9);
    --white-transparent: rgba(255, 255, 255, 0.7);
    --black-transparent: rgba(0, 0, 0, 0.2);
}
*{
    margin: 0;
    padding: 0; 
	box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}


/*-------------------FIRST MOBILE-------------------*/
@media (min-width: 0px){
    body{
        background-color: #23003f;
    }


    /*-------------------INDEX-------------------*/
    .body__index{
        display: grid;
        grid-template-areas: 
            "logo"
            "news"
            "last-match"
            "shop"
            "more-news"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr 4fr 1fr 0fr;
    }
    .top-logo{ /*---------------GENERAL PROPERTY---------------*/
        grid-area: logo;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .top-logo img{ /*---------------GENERAL PROPERTY---------------*/
        width: 10rem;
        height: 10rem;
    }
    .header{ /*---------------GENERAL PROPERTY---------------*/
        grid-area: header;
        background-color: #FFFFFF;
        height: fit-content;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        position: sticky;
        bottom: 1rem;
        z-index: 1;
        -webkit-box-shadow: 0px 0px 14px 13px rgba(35,0,63,1);
        -moz-box-shadow: 0px 0px 14px 13px rgba(35,0,63,1);
        box-shadow: 0px 0px 14px 13px rgba(35,0,63,1);
    }
    .header__logo{ /*---------------GENERAL PROPERTY---------------*/
        width: 5rem;
        height: 5rem;
    }
    .navbar__container{ /*---------------GENERAL PROPERTY---------------*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: .5rem;
    }
    .li-word{ /*---------------GENERAL PROPERTY---------------*/
        display: none;
    }
    .fa-solid{ /*---------------GENERAL PROPERTY---------------*/
        font-size: 2.5rem;
        color: var(--violet9z);
        padding: 1rem;
    }
    .fa-solid:hover{
        background-color: var(--violet9z);
        color: #FFFFFF;
        border-radius: 1rem;
    }
    .news{
        grid-area: news;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-image: url(./img/news/lol_newTeam.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        margin: 0 2rem;
        border-radius: 1rem;
    }
    .news-title{
        width: 100%;
        font-weight: 700;
        background-color: #FFFFFF;
        color: var(--violet9z);
        text-align: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .last-match{
        grid-area: last-match;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 2rem;
        margin-top: 0;
    }
    .match-info{
        display: flex;
        justify-content: space-between;
        color: var(--violet9z);
        font-size: 1.5rem;
        font-weight: 700;
    }
    .game-info{
        border: solid var(--violet9z) 0.25rem;
        border-radius: 1rem;
        padding: .5rem;
        margin: .5rem;
        height: fit-content;
        text-align: center;
    }
    .last-match__item{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 2rem;
        border-radius: 1rem;
        gap: 2rem;
    }
    .flex{
        display: flex;
    }
    .match-container{
        align-items: center;
        justify-content: space-around;
    }
    .opponent-img{
        width: 8rem;
        height: 8rem;
    }
    .score{
        font-size: 3rem;
        font-weight: 700;
        gap: 2rem;
        width: 100%;
        justify-content: center;
    }
    .next-matches{
        display: none;
    }
    .shop{
        grid-area: shop;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        margin: 2rem;
        margin-top: 0;
    }
    .title{
        font-size: 2rem;
        color: #FFFFFF;
        border-bottom: solid #FFFFFF 0.3rem;
    }
    .shop__items{
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
        padding: 1rem;
        width: 100%;
    }
    .shop__item{
        width: 10rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid var(--violet9z) 0.3rem;
        border-radius: 1rem;
    }
    .shop__item-description{
        font-size: 2rem;
        color: var(--violet9z);
        text-align: center;
        font-weight: 700;
    }
    .more__news{
        grid-area: more-news;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .more__news-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .more__news-item img{
        height: 20rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .footer{ /*---------------GENERAL PROPERTY---------------*/
        grid-area: footer;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
        color: var(--violet9z);
    }
    .footer__container{ /*---------------GENERAL PROPERTY---------------*/
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .more__sections{ /*---------------GENERAL PROPERTY---------------*/
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        gap: 2rem;
    }
    .more__sections-item{ /*---------------GENERAL PROPERTY---------------*/
        color: var(--violet9z);
        font-size: 1.5rem;
        font-weight: 700;
    }
    .footer__text{ /*---------------GENERAL PROPERTY---------------*/
        font-size: 2rem;
        font-weight: 700;
        color: var(--violet9z);
    }
    .footer__social{ /*---------------GENERAL PROPERTY---------------*/
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__social i{ /*---------------GENERAL PROPERTY---------------*/
        font-size: 3rem;
        color: var(--violet9z);
    }


    /*-------------------NEWS-------------------*/
    .body__news{
        display: grid;
        grid-template-areas:
            "logo"
            "news__container"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 4fr 1fr 0fr;
    }
    .news__container{
        grid-area: news__container;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .news__container-items{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 75%;
        text-align: center;
    }
    .news-item{
        font-size: 3rem;
        color: var(--violet9z);
        background-color: #FFFFFF;
        border-radius: 1rem;
        padding: 3rem;
    }


    /*-------------------MATCHES-------------------*/
    .body__matches{
        display: grid;
        grid-template-areas: 
            "logo"
            "last "
            "next"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 2.5fr 1.5fr 1fr 0fr;
    }
    .matches{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .flex{
        display: flex;
    }
    .matches__last{
        grid-area: last;
    }
    .matches-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .matches-item{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: #FFFFFF;
        padding: 1.5rem;
        gap: 1.5rem;
        border-radius: 1rem;
    }
    .item-game{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .item-date{
        font-size: 1rem;
        font-weight: 700;
    }
    .item-opponents{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        gap: 1rem;
    }
    .opponent{
        align-items: center;
        gap: 2rem;
    }
    .opponent__name{
        font-size: 2rem;
        width: min-content;
        font-weight: 700;
    }
    .scores{
        display: flex;
        font-size: 2rem;
        gap: .4rem;
        font-weight: 700;
    }
    .logo-game{
        width: 2rem;
        height: 2.rem;
    }
    .opponent__img img{
        width: 4rem;
        height: 4rem;
    }
    #logo-mibr{
        width: 6rem;
        height: 3rem;
    }
    .matches__next{
        grid-area: next;
        justify-content: center;
    }


    /*-------------------TEAMS-------------------*/
    .only-desktop{
        display: none;
    }

    .body__teams{
        display: grid;
        grid-template-areas: 
            "logo"
            "teams"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 5fr 1fr 0fr;
    }
    .teams__container{
        grid-area: teams;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .teams{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
    }
    .team__item{
        padding: 3rem;
        text-align: center;
        background-color: #FFFFFF;
        border: solid #FFFFFF 0.5rem;
        border-radius: 1rem;
    }
    .team__img{
        width: 100%;
        height: 100%;
    }


    /*-------------------CSGO ACADEMY VALORANT LOL-------------------*/
    .body__team{
        display: grid;
        grid-template-areas: 
            "logo"
            "allTeam"
            "players"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 7fr 1fr 0fr;
    }
    .allTeam{
        grid-area: allTeam;
        background-image: url(./img/teams/csgo/all_team_9z.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        margin: 0 2rem;
        text-align: center;
        border-radius: 1rem;
    }
    .allTeam__ico{
        width: 8rem;
        height: 4rem;
        margin-top: 1rem;
    }
    .players{
        grid-area: players;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }
    .player{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #FFFFFF;
        margin: 0 3rem;
        border-radius: 1rem;
    }
    .player__img{
        width: 15rem;
        height: 15rem;
    }
    .player__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .player__info p{
        font-size: 4rem;
        color: var(--violet9z);
        font-weight: 700;
        width: min-content;
        text-align: center;
    }
    .socialNetworks{
        font-size: 2rem;
        color: var(--violet9z);
        display: flex;
        gap: 2rem;
    }


    /*-------------------SHOP-------------------*/
    .body__shop{
        display: grid;
        grid-template-areas: 
            "logo"
            "shop__container"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 5fr 1fr 0fr;
    }
    .shop__container{
        grid-area: shop__container;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shop__container-items{
        display: flex;
        flex-wrap: wrap;
        margin: 2rem;
        padding: 2rem;
        gap: 2rem;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 1rem;
    }
    .shop-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        width: min-content;
        height: 20rem;
        border: solid var(--violet9z) 0.4rem;
        border-radius: 1rem;
        color: var(--violet9z);
        padding: 2rem;
        border-radius: 1rem;
    }


    /*-------------------ABOUT-------------------*/
    .body__about{
        display: grid;
        grid-template-areas: 
            "logo"
            "info"
            "sponsors"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 4fr 3.5fr 1fr 0fr;
    }
    .info-section{
        grid-area: info;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .about-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
        font-weight: 700;
    }
    .about-section__title{
        font-size: 4rem;
        border-bottom: solid #FFFFFF 0.5rem;
    }
    .about-section__text{
        text-align: center;
        padding: 3rem;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
        color: var(--violet9z);
    }
    .about-text{
        font-size: 1.75rem;
    }
    .about-section__media{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .info-ceo__img img{
        width: 30rem;
        height: 30rem;
        border-radius: 1rem;
    }
    .info-ceo__name{
        font-size: 2rem;
        font-weight: 700;
        color: #FFFFFF;
    }
    .info-ceo__social{
        font-size: 2.5rem;
        display: flex;
        gap: 3rem;
    }
    .info-ceo__social i{
        color: #FFFFFF;
    }
    .sponsors{
        grid-area: sponsors;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sponsors-title{
        font-size: 2.5rem;
        color: #FFFFFF;
        border-bottom: solid #FFFFFF 0.4rem;
        font-weight: 700;
    }
    .sponsors-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin-top: 2rem;
    }
    .sponsor-logo{
        width: 10rem;
        height: 7rem;
    }
    #shell-logo{
        width: 8rem;
        height: 7rem;
    }
    #diggit-logo{
        height: 5rem;
    }
    #logitech-logo{
        width: 11rem;
        height: 4rem;
    }
    #redbull-logo{
        width: 8rem;
        height: 5rem;
    }
    

    /*-------------------CONTACT-------------------*/
    .body__contact{
        display: grid;
        grid-template-areas: 
            "logo"
            "contact-info"
            "contact-section"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 1.5fr 1fr 0fr;
    }
    .contact-info{
        grid-area: contact-info;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 3rem;
        padding: 2rem;
        gap: 2rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
        color: var(--violet9z);
        font-weight: 700;
    }
    .contact-info__titles{
        font-size: 5rem;
        border: solid var(--violet9z) .5rem;
        border-radius: 1rem;
        padding: 1rem;
    }
    .contact-info p{
        font-size: 3rem;
        text-align: center;
    }
    .contact-section{
        grid-area: contact-section;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .contact-section__title{
        font-size: 3rem;
        font-weight: 700;
        color: #FFFFFF;
    }
    .contact-section form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .contact-section__data{
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-bottom: solid #FFFFFF 0.2rem;
        color: #FFFFFF;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
    .button{
        font-size: 2rem;
        background-color: #FFFFFF;
        color: var(--violet9z);
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        font-weight: 700;
    }
    ::placeholder{
        color: #FFFFFF;
    }

    @media (min-width: 480px) {
        .body__contact{
            grid-template-rows: 0.5fr 2fr 2fr 1fr 0fr;
        }
        .body__about{
            grid-template-rows: 0.5fr 4fr 4fr 1fr 0fr;
        }
    }
}


/*-------------------TABLE QUERIE-------------------*/
@media(min-width: 768px){
    body{
        background-image: url(./img/wallpaper-9z-white.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .only-mobile{
        display: none;
    }
    .li-word{
        display: block;
    }
    .only-desktop{
        display: block;
    }


    /*-------------------INDEX-------------------*/
    .body__index{
        display: grid;
        grid-template-areas: 
            "header"
            "news "
            "last-match" 
            "next-matches"
            "shop"
            "more-news"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr 1fr 2fr 2fr 2fr 1fr;
    }
    .header{
        grid-area: header;
        background-color: var(--violet9z);
        border-radius: 0%;
        box-shadow: none;
        margin: 0;
    }
    .header__logo{
        width: 8rem;
        height: 8rem;
    }
    .navbar__container a{
        font-size: 1.5rem;
        color: #FFFFFF;
        padding: 1rem;
        transition: all .2s;
        font-weight: 700;
    }
    .news{
        grid-area: news;
        margin-top: 2rem;
    }
    .news-title{
        background-color: var(--violet9z);
        color: #FFFFFF;
    }
    .last-match{
        grid-area: last-match;
        justify-content: center;
    }
    .last-match__item{
        width: 75%;
    }
    .title{
        padding: 1rem;
        background-color: var(--violet9z);
        color: #FFFFFF;
        font-weight: 700;
        border-radius: 1rem;
        border-bottom: none;
    }
    .item{
        background-color: var(--violet9z);
    }
    .game-info{
        color: #FFFFFF;
        border: solid #FFFFFF 0.2rem;
    }
    .score{
        color: #FFFFFF;
    }
    .next-matches{
        grid-area: next-matches;
        gap: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .next-matches__container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 72%;
    }
    .next-matches__item{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        border-radius: 1rem;
    }
    .shop{
        grid-area: shop;
        padding: 5rem 0;
    }
    .shop__items{
        background-color: var(--violet9z);
        height: 100%;
        padding: 2rem;
    }
    .shop__item{
        border-color: #FFFFFF;
        width: 30%;
        height: 100%;
    }
    .shop__item-description{
        color: #FFFFFF;
    }
    .more__news{
        grid-area: more-news;
    }
    .footer{
        grid-area: footer;
        background-color: var(--violet9z);
    }
    .more__sections-item{
        color: #FFFFFF;
    }
    .footer__social i{
        color: #FFFFFF;
    }
    .footer__text{
        color: #FFFFFF;
    }


    /*-------------------MATCHES-------------------*/
    .body__matches{
        display: grid;
        grid-template-areas: 
            "header"
            "matchesLast"
            "matchesNext"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 2fr 2fr;
    }
    .header{
        grid-area: header;
    }
    .matches__last{
        grid-area: matchesLast;
    }
    .matches__next{
        grid-area: matchesNext;
    }
    .footer{
        grid-area: footer;
    }
    .matches-container{
        min-width: 40%;
    }
    .matches-item{
        background-color: var(--violet9z);
        color: #FFFFFF;
    }


    /*-------------------TEAMS-------------------*/
    .body__teams{
        grid-template-areas: 
            "header"
            "teams"
            "footer"
        ;
        grid-template-rows: 1fr 7fr 2fr;
    }
    .teams__container{
        grid-area: teams;
    }
    .teams{
        width: 60%;
    }
    .team__item{
        background-color: var(--violet9z);
        border: none;
        width: 100%;
        height: 50%;
    }
    .team__img{
        width: 100%;
        height: 100%;
    }


    /*-------------------CSGO VALORANT LOL-------------------*/
    .body__team{
        grid-template-areas: 
           "header"
           "allTeam"
           "players"
           "footer"
        ;
        grid-template-rows: 1fr 3fr 8fr 2fr;
    }
    .allTeam{
        grid-area: allTeam;
        background-position: center top;
        margin-top: 2rem;
        border: solid var(--violet9z) 0.4rem;
    }
    .players{
        grid-area: players;
    }
    .player{
        background-color: var(--violet9z);
    }
    .player__info p{
        color: #FFFFFF;
    }
    .socialNetworks i{
        color: #FFFFFF;
    }


    /*-------------------NEWS-------------------*/
    .body__news{
        grid-template-areas: 
            "header"
            "news__container"
            "footer"
        ;
        grid-template-rows: 1fr 5fr 2.5fr;
    }
    .news-item{
        background-color: var(--violet9z);
        color: #FFFFFF;
    }


    /*-------------------SHOP-------------------*/
    .body__shop{
        grid-template-areas: 
            "header"
            "shop__container"
            "footer"
        ;
        grid-template-rows: 1fr 5fr 2.5fr;
    }
    .shop__container{
        justify-content: center;
    }
    .shop__container-items{
        background-color: var(--violet9z);
    }
    .shop-item{
        height: 30rem;
        border-color: #FFFFFF;
        color: #FFFFFF;
    }


    /*-------------------ABOUT US-------------------*/
    .body__about{
        grid-template-areas: 
            "header"
            "info"
            "sponsors"
            "footer "
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6fr 2fr 2.5fr;
    }
    .about-section__title{
        color: var(--violet9z);
        border-bottom: solid var(--violet9z) .5rem;
    }
    .about-section__text{
        background-color: var(--violet9z);
        color: #FFFFFF;
    }
    .info-ceo__img{
        border: solid var(--violet9z) .5rem;
        border-radius: 1rem;
    }
    .info-ceo__name{
        background-color: var(--violet9z);
        padding: 1rem;
        border-radius: 1rem;
    }
    .info-ceo__social{
        background-color: var(--violet9z);
        padding: 1rem;
        border-radius: 1rem;
    }
    .sponsors{
        justify-content: center;
        gap: 2rem;
    }
    .sponsors-title{
        color: var(--violet9z);
        border-color: var(--violet9z);
    }
    .sponsors-img{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 2rem;
        background-color: var(--violet9z);
        border-radius: 1rem;
        padding: 3rem;
    }


    /*-------------------CONTACT-------------------*/
    .body__contact{
        grid-template-areas: 
            "header"
            "contact-info"
            "contact-section"
            "footer"
        ;
        grid-template-rows: 1fr 3fr 3fr 2.5fr;
    }
    .contact-info{
        margin-top: 3rem;
        justify-content: center;
        background-color: var(--violet9z);
        color: #FFFFFF;
    }
    .contact-section form{
        background-color: var(--violet9z);
        padding: 3rem;
        border-radius: 1rem;
    }
    .contact-section__title{
        color: var(--violet9z);
        border-bottom: solid var(--violet9z) .5rem;
    }
}


/*-------------------DESKTOP QUERIE-------------------*/
@media(min-width: 1200px){
    .body__index{
        display: grid;
        grid-template-areas: 
            "header header"
            "news news"
            "last-match next-matches"
            "shop shop"
            "more-news more-news"
            "footer footer"
        ;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0fr 1fr 2fr 2fr 2fr .5fr;
    }
    .header{
        grid-area: header;
        width: 100%;
        position: sticky;
        top: 0;
        background-color: var(--violet9z);
        z-index: 1;
    }
    .navbar__container{
        justify-content: center;
        gap: 3rem;
    }
    .navbar__container li{
        font-size: 2rem;
        transition: all .2s;
        padding: 1rem;
    }
    .navbar__container li:hover{
        border-bottom: solid #FFFFFF 0.1rem;
        transform: translateY(-1rem);
    }
    .news{
        grid-area: news;
        transition: all .2s;
    }
    .news:hover{
        transform: scale(.95);
    }
    .last-match{
        grid-area: last-match;
        justify-content: flex-start;
        margin-top: 2rem;
    }
    .last-match__item{
        width: 60%;
    }
    .next-matches{
        grid-area: next-matches;
        margin-top: 2rem;
    }
    .next-matches__container{
        width: 60%;
    }
    .next-matches__item{
        width: 100%;
    }
    .shop{
        grid-area: shop;
        justify-content: center;
        margin-top: 2rem;
    }
    .shop__items{
        width: 85%;
        height: 75%;
        padding: 4rem;
    }
    .shop__item{
        transition: all .2s;
    }
    .shop__item:hover{
        transform: translateY(-1rem);
        cursor: pointer;
    }
    .more__news{
        grid-area: more-news;
        gap: 5rem;
    }
    .more__news-item{
        transition: all .2s;
    }
    .more__news-item:hover{
        transform: scale(1.05);
    }
    .footer{
        grid-area: footer;
    }
    .more__sections{
        flex-direction: row;
        justify-content: space-evenly;
    }


    /*----------MATCHES----------*/
    .body__matches{
        display: grid;
        grid-template-areas: 
            "header header"
            "last next"
            "footer footer"
        ;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 5fr 2fr;
    }
    .header{
        grid-area: header;
    }
    .matches__last{
        grid-area: last;
        margin-top: 6rem;
        justify-content: flex-start;
    }
    .matches__next{
        grid-area: next;
        margin-top: 6rem;
        justify-content: flex-start;
    }
    .matches__next .item-date{
        font-size: 1.5rem;
        width: 100% ;
    }
    .matches-container{
        min-width: 70%;
    }
    .matches-item{
        height: 8rem;
        transition: all .2s;
    }
    .matches-item:hover{
        transform: translateX(5rem);
        cursor: pointer;
    }
    .matches__next .matches-item:hover{
        transform: translateX(-5rem);
    }
    .footer{
        grid-area: footer;
    }


    /*----------TEAMS----------*/
    .body__teams{
        grid-template-rows: 1fr 8fr 2fr;
    }
    .teams__container{
        justify-content: flex-start;
        align-items: center;
        height: 100rem;
        margin-top: 5rem;
    }
    .teams__title{
        font-size: 2rem;
        padding: 1rem;
        background-color: var(--violet9z);
        color: #FFFFFF;
        font-weight: 700;
    }
    .teams{
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 0;
    }
    .team__item{
        width: 20%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all .2s;
    }
    .team__item:hover{
        transform: scale(1.05);
    }
    
    
    /*----------CSGO VALORANT LOL----------*/
     .body__team{
         grid-template-rows: 1fr 4fr 9fr 2fr;
         justify-items: center;
     }
   .allTeam{
       border: solid var(--violet9z) .5rem;
       width: 75%;
   }
   .allTeam__ico{
       width: 20rem;
       height: 9rem;
   }
   .players{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
       max-width: none;
       padding: 0;
       align-items: center;
   }
   .player{
       height: 50rem;
       display: flex;
       flex-direction: column;
       transition: all .2s;
   }
   .player:hover{
       transform: translateY(-3rem);
       cursor: pointer;
   }
    .player__img{
        width: 30rem;
        height: 30rem;
    }
    .socialNetworks a{
        color: var(--violet9z);
    }
    
     /*----------NEWS----------*/ 
     .body__news{
        grid-template-rows: 1fr 5fr 2fr;
    }
     .news-item{
         transition: all .2s;
     }
     .news-item:hover{
        transform: scale(1.1);
        cursor: pointer;
    }


    /*----------SHOP----------*/ 
    .body__shop{
        grid-template-rows: 1fr 5fr 2fr;
    }
    .shop-item{
        height: 50rem;
        transition: all .2s;
    }
   .shop-item:hover{
        transform: translateY(-3rem);
        background-color: #FFFFFF;
        color: var(--violet9z);
        border-color: var(--violet9z);
        cursor: pointer;
    }


    /*----------ABOUT----------*/ 
    .body__about{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 2fr 2fr;
    }
    .info-section{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .about-section{
        max-width: 75rem;
    }
    .about-section__title{
        font-size: 6rem;
    }
    .info-ceo__social a{
        transition: all .2s;
    }
    .info-ceo__social a:hover{
        background-color: var(--violet9z);
        padding:0;
        transform: translateY(-.5rem);
    }
    #shell-logo{
        width: 6rem;
        height: 5rem;
    }
    #diggit-logo{
        width: 8rem;
        height: 4rem;
    }
    #lemon-logo{
        width: 14rem;
    }
    #logitech-logo{
        width: 13rem;
        height: 4rem;
    }
    .sponsor-logo{
        width: 9rem;
        height: 5rem;
    }
    /*----------CONTACT----------*/
    .body__contact{
        grid-template-areas: 
            "header header"
            "contact-info contact-section"
            "footer footer"
        ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 4fr 2fr;
        align-items: center;
    }
    .buttons{
        margin-top: 0;
    }
    .button{
        font-size: 2rem;
        background: none;
        color: #FFFFFF;
        margin: 1.5rem;
        padding: 1rem;
        border: solid #FFFFFF 0.1rem;
        border-radius: 0;
    }
    .button:hover{
        background-color: #FFFFFF;
        color: var(--violet9z-transparent);
        cursor: pointer;
    }

    /*----------FOOTER----------*/
    .footer{
        grid-area: footer;
        background-color: var(--violet9z);
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .footer__text{
        margin: 2.5rem;
        padding: 1rem;
        color: #FFFFFF;
    }
    .footer__social a{
        color: #FFFFFF;
    }
    .footer__social{
        display: flex;
        align-items: center;
        gap: 4rem;
        margin: 2.5rem;
    }
    .footer__social i{
        font-size: 3rem;
    }
}