@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root{
    --violet9z: #23003f;
    --violet9z-transparent: rgba(35, 0, 63,0.9);
    --white-transparent: rgba(255, 255, 255, 0.7);
    --black-transparent: rgba(0, 0, 0, 0.2);
}
*{
    margin: 0;
    padding: 0; 
	box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}


/*-------------------FIRST MOBILE-------------------*/
@media (min-width: 0px){
    body{
        background-color: #23003f;
    }
    .only-desktop{
        display: none !important;
    }
    .tablet-desktop{
        display: none !important;
    }
    /*-------------------INDEX-------------------*/
    .body__index{
        display: grid;
        grid-template-areas: 
            "logo"
            "news"
            "last-match"
            "carousel-next__matches"
            "shop"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .top-logo{ /*---------------GENERAL PROPERTY---------------*/
        grid-area: logo;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .top-logo img{ /*---------------GENERAL PROPERTY---------------*/
        width: 10rem;
        height: 10rem;
    }
    .header{ /*---------------GENERAL PROPERTY---------------*/
        grid-area: header;
        background-color: #FFFFFF;
        height: fit-content;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        position: sticky;
        bottom: 1rem;
        z-index: 1;
        -webkit-box-shadow: 0px 0px 14px 13px rgba(35,0,63,1);
        -moz-box-shadow: 0px 0px 14px 13px rgba(35,0,63,1);
        box-shadow: 0px 0px 14px 13px rgba(35,0,63,1);
    }
    .header__logo{ /*---------------GENERAL PROPERTY---------------*/
        width: 5rem;
        height: 5rem;
    }
    .navbar__container{ /*---------------GENERAL PROPERTY---------------*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        padding: .5rem;
        margin: 0 !important;
    }
    .li-word{ /*---------------GENERAL PROPERTY---------------*/
        display: none;
    }
    .only-mobile .fa-solid{ /*---------------GENERAL PROPERTY---------------*/
        font-size: 2.5rem;
        color: var(--violet9z);
        padding: 1rem;
    }
    .only-mobile .fa-solid:hover{
        background-color: var(--violet9z);
        color: #FFFFFF;
        border-radius: 1rem;
    }
    .news{
        grid-area: news;
        padding: 2rem;
    }
    .carousel-inner{
        border-radius: 1rem;
    }
    .last-match{
        grid-area: last-match;
    }
    .last-match__item{
        background-color: #FFFFFF;
        border-radius: 1rem;
        width: 100%;
    }
    .info{
        font-size: 1.5rem;
        font-weight: 700;
    }
    .last-match .opponent-img{
        width: 7rem;
        height: 7rem;
    }
    .last-match .opponent-name{
        font-size: 2rem;
    }
    .last-match .scores-score{
        font-size: 4rem;
    }
    .last-match .scores-separator{
        font-size: 3rem;
    }
    .card-img-index{
        width: 10rem;
    }
    .carousel__next-matches{
        grid-area: carousel-next__matches;
        padding: 2rem;
    }
    .carousel__next-matches .carousel-item{
        background-color: #FFFFFF;
    }
    .carousel__next-matches .opponent-img{
        width: 7rem;
        height: 7rem;
    }
    .carousel__next-matches .opponent-name{
        font-size: 2rem;
    }
    .carousel__next-matches .scores-separator{
        font-size: 3rem;
    }
    .shop{
        grid-area: shop;
    }
    .title{
        font-size: 2rem;
        color: #FFFFFF;
        border-bottom: solid #FFFFFF 0.3rem;
    }

    
    .footer{ /*---------------GENERAL PROPERTY---------------*/
        grid-area: footer;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        padding: 3rem;
        color: var(--violet9z);
    }
    .footer__container{ /*---------------GENERAL PROPERTY---------------*/
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .more__sections{ /*---------------GENERAL PROPERTY---------------*/
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        gap: 2rem;
    }
    .more__sections-item{ /*---------------GENERAL PROPERTY---------------*/
        color: var(--violet9z);
        font-size: 1.5rem;
        font-weight: 700;
    }
    .footer__text{ /*---------------GENERAL PROPERTY---------------*/
        font-size: 2rem;
        font-weight: 700;
        color: var(--violet9z);
        text-align: center;
    }
    .footer__social{ /*---------------GENERAL PROPERTY---------------*/
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer__social i{ /*---------------GENERAL PROPERTY---------------*/
        font-size: 3rem;
        color: var(--violet9z);
    }


    /*-------------------NEWS-------------------*/
    .body__news{
        display: grid;
        grid-template-areas:
            "logo"
            "news__container"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .news__container{
        grid-area: news__container;
        padding: 0 2rem;
    }
    .news-img{
        width: 30rem;
        height: 17rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    .news-img img{
        width: 100%;
        height: 100%;
    }
    .news-item__text{
        background-color: #FFFFFF;
        color: var(--violet9z);
        text-align: center;
        font-size: 1.5rem;
        width: 30rem;
        font-weight: 700;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 1rem;
    }

    
    /*-------------------MATCHES-------------------*/
    .body__matches{
        display: grid;
        grid-template-areas: 
            "logo"
            "last"
            "next"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .last__matches{
        grid-area: last;
    }
    .match-item{
        border-radius: 1rem;
        width: 90%;
    }
    .data-game__ico{
        width: 3rem;
    }
    .data-game__info{
        width: 4rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .opponent-img{
        height: 5rem;
        width: 5rem;
    }
    .opponent-name{
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }
    .match-item{
        background-color: #FFFFFF;
    }
    .scores-score{
        font-size: 3rem;
        font-weight: 700;
    }
    .scores-separator{
        font-size: 2rem;
        font-weight: 700;
    }
    #logo-mibr{
        width: 6rem;
        height: 3rem;
    }
    .next__matches{
        grid-area: next;
        margin: 3rem 0;
    }


    /*-------------------TEAMS-------------------*/

    .body__teams{
        display: grid;
        grid-template-areas: 
            "logo"
            "teams"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .team__item{
        padding: 3rem;
        text-align: center;
        background-color: #FFFFFF;
        border-radius: 1rem;
        max-width: 43rem;
    }
    .team__img{
        width: 100%;
        height: 100%;
    }


    /*-------------------CSGO ACADEMY VALORANT LOL-------------------*/
    .body__team{
        display: grid;
        grid-template-areas: 
            "logo"
            "allTeam"
            "players"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .allTeam{
        grid-area: allTeam;
        margin: 0 2rem;
        text-align: center;
        border-radius: 1rem;
    }
    .allTeam__ico{
        width: 10rem;
    }
    .allTeam__img{
        width: 100%;
    }
    .allTeam__img img{
        width: 100%;
        border-radius: 1rem;
    }
    .players{
        grid-area: players;
        padding: 0 2rem;
    }
    .player{
        background-color: #FFFFFF;
        border-radius: 1rem;
    }
    .player__img{
        width: 18rem;
    }
    .player__img-valorant{
        width: 15rem;
    }
    .player__info p{
        font-size: 4rem;
        color: var(--violet9z);
        font-weight: 700;
        width: min-content;
        text-align: center;
    }
    .socialNetworks{
        font-size: 3rem;
    }
    .socialNetworks i{
        color: var(--violet9z);
    }


    /*-------------------SHOP-------------------*/
    .body__shop{
        display: grid;
        grid-template-areas: 
            "logo"
            "shop__container"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0fr 0fr;
    }
    .shop__container{
        grid-area: shop__container;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 2rem 0;
        margin-top: 0;
    }
    .card-shop{
        padding: 2rem;
        border-radius: 1rem;
    }
    .card-title{
        color: var(--violet9z);
        font-size: 2rem;
        font-weight: 700;
    }
    .card-text{
        color: var(--violet9z);
        font-size: 1.5rem;
        font-weight: 700;
    }
    .btn{
        font-size: 2rem;
        background-color: var(--violet9z);
        border: none;
    }

    
    /*-------------------ABOUT-------------------*/
    .body__about{
        display: grid;
        grid-template-areas: 
            "logo"
            "info"
            "sponsors"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .info-section{
        grid-area: info;
    }
    .about-section{
        color: #FFFFFF;
        font-weight: 700;
    }
    .about-section__title{
        font-size: 4rem;
        border-bottom: solid #FFFFFF .4rem;
    }
    .about-section__text{
        text-align: center;
        margin: 0 3rem;
        padding: 2rem;
        font-size: 1.5rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
        color: var(--violet9z);
    }
    .info-ceo__img img{
        width: 30rem;
        height: 30rem;
        border-radius: 1rem;
    }
    .info-ceo__name{
        font-size: 2rem;
        font-weight: 700;
        color: #FFFFFF;
    }
    .info-ceo__social{
        font-size: 2.5rem;
        display: flex;
        gap: 3rem;
    }
    .info-ceo__social i{
        color: #FFFFFF;
    }
    .sponsors{
        grid-area: sponsors;
    }
    .sponsors-title{
        font-size: 2.5rem;
        color: #FFFFFF;
        border-bottom: solid #FFFFFF 0.4rem;
        font-weight: 700;
    }
    .sponsor-logo{
        width: 10rem;
        height: 7rem;
    }
    #shell-logo{
        width: 8rem;
        height: 7rem;
    }
    #diggit-logo{
        height: 5rem;
    }
    #logitech-logo{
        width: 11rem;
        height: 4rem;
    }
    #redbull-logo{
        width: 8rem;
        height: 5rem;
    }
    

    /*-------------------CONTACT-------------------*/
    .body__contact{
        display: grid;
        grid-template-areas: 
            "logo"
            "contact-info"
            "contact-section"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .contact-info{
        grid-area: contact-info;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 3rem;
        margin-bottom: 3rem;
        padding: 2rem;
        gap: 2rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
        color: var(--violet9z);
        font-weight: 700;
    }
    .contact-info__titles{
        font-size: 5rem;
        border: solid var(--violet9z) .5rem;
        border-radius: 1rem;
        padding: 1rem;
    }
    .contact-info p{
        font-size: 3rem;
        text-align: center;
    }
    .contact-section{
        grid-area: contact-section;
    }
    .contact-section__title{
        font-size: 3rem;
        font-weight: 700;
        color: #FFFFFF;
    }
    .contact-section__data{
        font-size: 2rem;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: solid #FFFFFF 0.2rem;
        color: #FFFFFF;
    }
    .button{
        font-size: 2rem;
        background-color: #FFFFFF;
        color: var(--violet9z);
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        font-weight: 700;
    }
    ::placeholder{
        color: #FFFFFF;
    }
    ::placeholder:hover{
        transform: translate(1rem);
    }
}


/*-------------------TABLE QUERIE-------------------*/
@media(min-width: 768px){
    body{
        background-image: url(./img/wallpaper-9z-white.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
    .only-mobile{
        display: none !important;
    }
    .li-word{
        display: block;
    }
    .tablet-desktop{
        display: flex !important;
    }


    /*-------------------INDEX-------------------*/
    .body__index{
        display: grid;
        grid-template-areas: 
            "header"
            "news"
            "last-match" 
            "next-matches"
            "shop"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .header{
        background-color: var(--violet9z);
        border-radius: 0%;
        box-shadow: none;
        margin: 0;
    }
    .header__logo{
        width: 8rem;
        height: 8rem;
    }
    .navbar__container a{
        font-size: 1.5rem;
        color: #FFFFFF;
        padding: 1rem;
        transition: all .2s;
        font-weight: 700;
    }
    .news-description{
        font-size: 1.5rem;
        font-weight: 700;
        background-color: #FFFFFF;
        color: var(--violet9z);
        padding: 1rem;
    }
    .last-match__item{
        background-color: var(--violet9z);
        color: #FFFFFF;
        width: fit-content;
    }
    .data{
        gap: 15rem !important;
    }
    .title{
        padding: 1rem;
        background-color: var(--violet9z);
        color: #FFFFFF;
        font-weight: 700;
        border-radius: 1rem;
        border-bottom: none;
    }
    .next-match{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .next-match__item{
        background-color:var(--violet9z);
        color: #FFFFFF;
        border-radius: 1rem;
    }
    .next-match .opponent-img{
        width: 7rem;
        height: 7rem;
    }
    .next-match .opponent-name{
        font-size: 2rem;
    }
    .next-match .scores-separator{
        font-size: 3rem;
    }
    .twitter{
        display: none;
    }
    .shop{
        grid-area: shop;
        margin-top: 1.5rem;
    }
    .footer{
        grid-area: footer;
        background-color: var(--violet9z);
    }
    .more__sections-item{
        color: #FFFFFF;
    }
    .footer__social i{
        color: #FFFFFF;
    }
    .footer__text{
        color: #FFFFFF;
    }


    /*-------------------MATCHES-------------------*/
    .body__matches{
        display: grid;
        grid-template-areas: 
            "header"
            "last"
            "next"
            "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .last__matches{
        margin-top: 3rem;
    }
    .match-item{
        background-color: var(--violet9z);
        color: #FFFFFF;
    }
    .opponents{
        gap: 5rem !important;
    }
    .scores{
        gap: 1rem !important;
    }


    /*-------------------TEAMS-------------------*/
    .body__teams{
        grid-template-areas: 
            "header"
            "teams"
            "footer"
        ;
        grid-template-rows: auto;
    }
    .teams__container{
        grid-area: teams;
        margin-top: 3rem;
    }
    .team__item{
        background-color: var(--violet9z);
        max-width: 53rem;
    }


    /*-------------------CSGO VALORANT LOL-------------------*/
    .body__team{
        grid-template-areas: 
           "header"
           "allTeam"
           "players"
           "footer"
        ;
    }
    .allTeam__ico{
        width: 15rem;
    }
    .allTeam__img img{
        border: solid var(--violet9z) .4rem;
    }
    .player{
        background-color: var(--violet9z);
    }
    .player__img-aux{
        padding: 1rem 0;
    }
    .player__info p{
        color: #FFFFFF;
    }
    .socialNetworks i{
        color: #FFFFFF;
    }


    /*-------------------NEWS-------------------*/
    .body__news{
        grid-template-areas: 
            "header"
            "news__container"
            "footer"
        ;
        grid-template-rows: auto
    }
    .news__container{
        margin-top: 3rem;
    }
    .news-item__text{
        background-color: var(--violet9z);
        color: #FFFFFF;
    }


    /*-------------------SHOP-------------------*/
    .body__shop{
        grid-template-areas: 
            "header"
            "shop__container"
            "footer"
        ;
        grid-template-rows: 1fr 5fr 2.5fr;
    }
    .shop__container{
        margin: 2rem;
    }
    .card-shop{
        background-color: var(--violet9z);
    }
    .card-title{
        color: #FFFFFF;
    }
    .card-text{
        color: #FFFFFF;
    }
    .btn{
        background-color: transparent;
        border: solid #FFFFFF .2rem;
        color: #FFFFFF;
    }

    /*-------------------ABOUT US-------------------*/
    .body__about{
        grid-template-areas: 
            "header"
            "info"
            "sponsors"
            "footer "
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .info-section{
        margin-top: 3rem;
    }
    .about-section__title{
        color: var(--violet9z);
        border-bottom: solid var(--violet9z) .5rem;
    }
    .about-section__text{
        background-color: var(--violet9z);
        color: #FFFFFF;
        font-size: 1.75rem;
    }
    .info-ceo__img{
        border: solid var(--violet9z) .5rem;
        border-radius: 1rem;
    }
    .info-ceo__name{
        background-color: var(--violet9z);
        padding: 1rem;
        border-radius: 1rem;
    }
    .info-ceo__social{
        background-color: var(--violet9z);
        padding: 1rem;
        border-radius: 1rem;
    }
    .sponsors-title{
        color: var(--violet9z);
        border-color: var(--violet9z);
    }
    .sponsors-img{
        background-color: var(--violet9z);
        padding: 3rem;
        border-radius: 1rem;
    }


    /*-------------------CONTACT-------------------*/
    .body__contact{
        grid-template-areas: 
            "header"
            "contact-info"
            "contact-section"
            "footer"
        ;
        grid-template-rows: auto;
    }
    .contact-info{
        margin-top: 3rem;
        justify-content: center;
        background-color: var(--violet9z);
        color: #FFFFFF;
    }
    .contact-section form{
        background-color: var(--violet9z);
        padding: 3rem;
        border-radius: 1rem;
    }
    .contact-section__title{
        color: var(--violet9z);
        border-bottom: solid var(--violet9z) .5rem;
    }
}


/*-------------------DESKTOP QUERIE-------------------*/
@media(min-width: 1200px){
    .only-desktop{
        display: flex !important;
    }
    .body__index{
        display: grid;
        grid-template-areas: 
            "header header"
            "news news"
            "last-match next-matches"
            "twitter shop"
            "footer footer"
        ;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0fr 0fr 0fr 1fr 0fr;
    }
    .header{
        grid-area: header;
        width: 100%;
        position: sticky;
        top: 0;
        background-color: var(--violet9z);
        z-index: 1;
    }
    .navbar__container{
        justify-content: center;
        gap: 3rem;
    }
    .navbar__container li{
        font-size: 2rem;
        transition: all .2s;
        padding: 1rem;
    }
    .navbar__container li:hover{
        border-bottom: solid #FFFFFF 0.1rem;
        transform: translateY(-1rem);
    }
    .news{
        grid-area: news;
        transform: scale(.80);
        margin: 0;
        padding: 0;
    }
    .news-description{
        font-size: 3rem;
    }
    .info{
        font-size: 2rem;
    }
    .last-match{
        padding: 0 !important;
    }
    .last-match .opponents{
        gap: 6rem !important;
    }
    .next-match__item .opponents{
        gap: 6rem !important;
    }
    .last-match .opponent-img{
        width: 10rem;
        height: 10rem;
    }
    .last-match .opponent-name{
        font-size: 3rem;
    }
    .next-match .opponent-img{
        width: 10rem;
        height: 10rem;
    }
    .next-match .opponent-name{
        font-size: 3rem;
    }
    .last-match .scores-score{
        font-size: 5rem;
    }
    .last-match .scores-separator{
        font-size: 4rem;
    }
    .details{
        transform: translateY(-30rem);
        z-index: -1;
        transition: .5s;
        background-color: var(--violet9z);
        color: #FFFFFF;
        border-radius: 1rem;
        transition: all 1s;
        font-size: 1.5rem;
    }
    .ico-down{
        color: var(--violet9z);
        background-color: transparent;
        border: none;
        font-size: 3rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: .5s;
    }
    .ico-down::before{
        transform: rotateX(0deg);
    }
    .ico-down:focus{
        transform: rotateX(180deg);
    }
    .ico-down:focus ~ .details{
        transform: translateY(0rem);
    }
    .next-match .scores-separator{
        font-size: 4rem;
    }
    .next-match{
        margin: 0;
    }
    .shop{
        grid-area: shop;
    }
    .card-img-index{
        width: 25rem;
    }
    .twitter{
        grid-area: twitter;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .twitter__container{
        border: solid var(--violet9z) .5rem;
        width: 75%;
        border-radius: 1rem;
    }
    .footer{
        grid-area: footer;
    }
    .more__sections{
        flex-direction: row;
        justify-content: space-evenly;
    }


    /*----------MATCHES----------*/
    .body__matches{
        display: grid;
        grid-template-areas: 
            "header header"
            "last next"
            "footer footer"
        ;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto
    }
    .last__matches{
        margin-bottom: 3rem;
    }
    .match-item{
        border: solid transparent .2rem;
        transition: all .2s;
    }
    .match-item:hover{
        background-color: transparent;
        backdrop-filter: blur(.5rem);
        color: var(--violet9z);
        border-color: var(--violet9z);
        cursor: pointer;
    }
    .data-game__ico{
        width: 5rem;
    }
    .data-game__info{
        font-size: 2rem;
        width: 7rem;
    }
    .opponents{
        gap: 3rem !important;
    }
    .opponent-img{
        width: 7rem;
        height: 7rem;
    }
    .opponent-name{
        font-size: 2rem;
    }
    .scores-score{
        font-size: 5rem;
    }
    .scores-separator{
        font-size: 4rem;
    }


    /*----------TEAMS----------*/
    .body__teams{
        grid-template-rows: auto;
    }
    .teams{
        flex-direction: row !important;
        height: 75rem !important;
        width: 100% !important;
        justify-content: center;
    }
    .team__item{
        height: 100%;
        width: 20%;
        transition: all .2s;
    }
    .team__item:hover{
        transform: translateY(-2rem)
    }
    
    
    /*----------CSGO VALORANT LOL----------*/
     .body__team{
         justify-items: center;
     }
   .allTeam{
       max-width: 1144px;
   }
   .players{
       flex-direction: row!important;
       flex-wrap: wrap;
       justify-content: center !important;
       gap: 3rem !important;
   }
   .player{
       width: 315px !important;
       height: 500px !important;
       flex-direction: column;
       transition: all .2s;
       filter: brightness(.7);
   }
   .player__img{
       width: 30rem;
   }
   .player:hover{
       transform: translateY(-2rem);
       background-image: url(./img/wallpaper9z.jpg);
       background-position: center;
       filter: brightness(1);
   }
   /*
   .players{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
       max-width: none;
       padding: 0;
       align-items: center;
   }
   .player{
       height: 50rem;
       display: flex;
       flex-direction: column;
       transition: all .2s;
   }
   .player:hover{
       transform: translateY(-3rem);
       cursor: pointer;
   }
    .player__img{
        width: 30rem;
        height: 30rem;
    }
    .socialNetworks a{
        color: var(--violet9z);
    }*/
    

     /*----------NEWS----------*/ 
     .body__news{
        grid-template-rows: auto;
    }
     .news-item{
         transition: all .2s;
     }
     .news-item:hover{
         transform: scale(1.05);
         cursor: pointer;
        }
    .news-img{
        width: 50rem;
        height: 27rem;
    }
    .news-item__text{
        width: 50rem;
        font-size: 2rem;
    }


    /*----------SHOP----------*/ 
    .body__shop{
        grid-template-rows: 0fr 5fr 2fr;
        align-items: center;
        justify-items: center;
    }
    .card-shop{
        background-color: var(--violet9z);
        padding: 2rem;
        border-radius: 1rem;
        transition: all 2s;
    }
    .card-title{
        font-size: 4rem;
    }
    .card-text{
        font-size: 2rem;
    }
    .btn{
        font-size: 2rem;
        background-color: transparent;
        color: #FFFFFF;
    }
    .btn:hover{
        background-color: #FFFFFF;
        color: var(--violet9z);
    }


    /*----------ABOUT----------*/ 
    .body__about{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .info-section{
        flex-direction: row !important;
        align-items: flex-start !important;
        justify-content: space-evenly;
    }
    .about-section{
        max-width: 75rem;
    }
    .about-section__title{
        font-size: 6rem;
    }
    .info-ceo__social a{
        transition: all .2s;
    }
    .info-ceo__social a:hover{
        background-color: var(--violet9z);
        padding: 0;
        transform: translateY(-.5rem);
    }
    .sponsors-img{
        flex-direction: row !important;
    }
    #shell-logo{
        width: 6rem;
        height: 5rem;
    }
    #diggit-logo{
        width: 8rem;
        height: 4rem;
    }
    #lemon-logo{
        width: 14rem;
    }
    #logitech-logo{
        width: 13rem;
        height: 4rem;
    }
    .sponsor-logo{
        width: 9rem;
        height: 5rem;
    }


    /*----------CONTACT----------*/
    .body__contact{
        grid-template-areas: 
            "header header"
            "contact-info contact-section"
            "footer footer"
        ;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 0fr 2fr 0fr;
        align-items: center;
    }
    .buttons{
        margin-top: 0;
    }
    .button{
        font-size: 2rem;
        background: none;
        color: #FFFFFF;
        margin: 1.5rem;
        padding: 1rem;
        border: solid #FFFFFF 0.1rem;
        border-radius: 0;
    }
    .button:hover{
        background-color: #FFFFFF;
        color: var(--violet9z-transparent);
        cursor: pointer;
    }

    /*----------FOOTER----------*/
    .footer{
        grid-area: footer;
        background-color: var(--violet9z);
        font-size: 2rem;
        width: 100%;
        height: 100%;
    }
    .footer__text{
        margin: 2.5rem;
        padding: 1rem;
        color: #FFFFFF;
    }
    .footer__social a{
        color: #FFFFFF;
    }
    .footer__social{
        display: flex;
        align-items: center;
        gap: 4rem;
        margin: 2.5rem;
    }
    .footer__social i{
        font-size: 3rem;
    }
    .more__sections a:hover{
        color: #FFFFFF;
    }
}