@mixin itemMatch{
    border: solid transparent .2rem;
    transition: all .2s;
    .data-game{
        &__ico{
            width: 5rem;
        }
        &__info{
            font-size: 2rem;
            width: 7rem;
        }
    }
    .opponents{
        gap: 3rem !important;
        .opponent{
            &-img{
                width: 7rem;
                height: 7rem;
            }
            &-name{
                font-size: 2rem;
            }
        }
        .scores{
            &-score{
                font-size: 5rem;
            }
            &-separator{
                font-size: 4rem;
            }
        }
    }
}