@media (min-width: 0px){
    .footer{
        grid-area: footer;
        background-color: #FFFFFF;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 3rem;
        gap: 2rem;
        &-img{
            img{
                width: 12rem;
            }
            .copyright{
                color: $violet9z;
                font-weight: 700;
                font-size: 1.2rem;
                text-align: center;
            }
        }
        .footer-titles{
            font-size: 1.5rem;
            color: $violet9z;
            font-weight: 700;
        }
        &-sections{
            a{
                color: $violet9z;
                font-size: 1.2rem;
            }
        }
        &-social{
            &__item{
                .only-mobile{
                    color: $violet9z;
                    font-size: 2rem;
                }
            }
        }
    }
}
@media (min-width: 768px){
    .footer{
        background-color: $violet9z;
        padding: 5rem;
        gap: 5rem;
        &-img{
            gap: 3rem !important;
            img{
                width: 15rem;
            }
            .copyright{
                color: #FFFFFF;
                font-size: 1.5rem;
            }
        }
        .footer-titles{
            font-size: 1.5rem;
            color: #FFFFFF;
        }
        &-sections{
            list-style-type: none;
            a{
                color: #FFFFFF;
                font-size: 1.5rem;
            }
        }
        &-social{
            align-items: flex-start !important;
            &__item{
                .tablet-desktop{
                    color: #FFFFFF;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media(min-width: 1200px){
    .footer{
        justify-content: center;
        gap: 20rem;
        &-img{
            img{
                width: 18rem;
            }
            .copyright{
                font-size: 2rem;
            }
        }
        .footer-titles{
            font-size: 2.5rem;
        }
        &-sections{
            a{
                font-size: 1.8rem;
            }
        }
        &-social{
            &__item{
                .tablet-desktop{
                    font-size: 1.8rem;
                }
            }
        }
    }
}