.top-logo{
    grid-area: logo;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    img{
        width: 10rem;
        height: 10rem;
    }
}