.ico-down{
    color: map-get($buttonsTransparent, colorText);
    background-color: map-get($buttonsTransparent, colorBackground);
    border: none;
    font-size: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: .5s;
    &::before{
        transform: rotateX(0deg);
    }
    &:focus{
        transform: rotateX(180deg);
    }
}
.button-reset{
    font-size: 2rem;
    background: none;
    color: #FFFFFF;
    margin: 1.5rem;
    padding: 1rem;
    border: solid #FFFFFF 0.1rem;
    border-radius: 0;
    &:hover{
        background-color: #FFFFFF;
        color: $violet9z;
        cursor: pointer;
        font-weight: 700
    }
}
.button-submit{
    @extend .button-reset;
    background-color: #FFFFFF;
    color: $violet9z;
    font-weight: 700;
}
@media (min-width: 0px){
    .match-item__button{
        padding: 0;
        height: fit-content;
        color: $violet9z;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        &:hover, &:focus, &:focus-visible, &:active{
            background-color: transparent;
            color: $violet9z;
        }
    }
    .button-windowDetails{
        color: #FFFFFF;
        background-color: $violet9z;
        font-size: 1.5rem;
        font-weight: 700;
        &:hover{
            color: $violet9z;
            background-color: #FFFFFF;
            border-color: $violet9z;
        }
    }
}
@media (min-width: 768px){
    .match-item__button{
        margin-left: 1rem;
        color: #FFFFFF;
        &:hover, &:focus{
            color: #FFFFFF;
        }
    }
}
@media (min-width: 1200px){
    .match-item__button{
        font-size: 3rem;
    }
}