/*----------INDEX----------*/
@media (min-width: 0px){
    .body__index{
        display: grid;
        grid-template-areas: 
            "logo"
            "news"
            "last-match"
            "carousel-next__matches"
            "shop"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        .top-logo{
            grid-area: logo;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            img{
                width: 10rem;
                height: 10rem;
            }
        }
        .news{
            grid-area: news;
            padding: 2rem;
            .carousel-inner{
                background-color: #FFFFFF;
                border-radius: 1rem;
                width: 100%;
            }
        }
        .last-match{
            grid-area: last-match;
            .last-match__item{
                background-color: #FFFFFF;
                border-radius: 1rem;
                width: 100%;
                .info{
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                .opponents{
                    .opponent{
                        .opponent-img{
                            width: 7rem;
                            height: 7rem;
                        }
                        .opponent-name{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                    .scores{
                        .scores-score{
                            font-size: 4rem;
                            font-weight: 700;
                        }
                        .scores-separator{
                            font-size: 3rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .carousel__next-matches{
            grid-area: carousel-next__matches;
            padding: 2rem;
            .carousel-inner{
                border-radius: 1rem;
                .carousel-item{
                    background-color: #FFFFFF;
                    .info{
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    .opponents{
                        .opponent-img{
                            width: 7rem;
                            height: 7rem;
                        }
                        .opponent-name{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                    .scores{
                        .scores-separator{
                            font-size: 3rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .shop{
            grid-area: shop;
            .card-shop{
                padding: 2rem;
                border-radius: 1rem;
                .card-img-index{
                    width: 10rem;
                }
                .card-body{
                    .card-title{
                        color: $violet9z;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                    .card-text{
                        color: $violet9z;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    .btn{
                        font-size: 2rem;
                        background-color: $violet9z;
                        border: none;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px){
    .body__index{
        grid-template-areas: 
            "header"
            "news"
            "last-match" 
            "next-matches"
            "shop"
            "footer"
        ;
    }
    .news{
        .carousel-inner{
            .carousel-item{
                .news-description{
                    font-size: 1.5rem;
                    font-weight: 700;
                    background-color: #FFFFFF;
                    color: $violet9z;
                    padding: 1rem;
                }
            }
        }
    }
    .last-match{
        .last-match__item{
            background-color: $violet9z!important;
            color: #FFFFFF;
            width: fit-content !important;
            .data{
                gap: 15rem !important;
            }
        }
    }
    .next-match{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .next-match__item{
            background-color: $violet9z;
            color: #FFFFFF;
            border-radius: 1rem;
            .info{
                font-size: 1.5rem;
                font-weight: 700;
            }
            .data{
                gap: 15rem !important;
            }
        }
        .opponents{
            .opponent{
                .opponent-img{
                    width: 7rem;
                    height: 7rem;
                }
                .opponent-name{
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
            .scores{
                .scores-separator{
                    font-size: 3rem;
                    font-weight: 700;
                }
            }
        }
    }
    .shop{
        margin-top: 1.5rem;
        .card-shop{
            background-color: $violet9z;
            .card-body{
                .card-title{
                    color: #FFFFFF!important;
                }
                .card-text{
                    color: #FFFFFF!important;
                }
                .btn{
                    background-color: #FFFFFF!important;
                    color: $violet9z!important;
                }
            }
        }
    }
}
@media (min-width: 1200px){
    .body__index{
        grid-template-areas: 
            "header header"
            "news news"
            "last-match next-matches"
            "twitter shop"
            "footer footer"
        ;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 0fr 0fr 0fr 1fr 0fr;
        .news{
            transform: scale(.8);
            margin: 0;
            padding: 0;
            .carousel-inner{
                .carousel-item{
                    .news-description{
                        font-size: 3rem;
                    }
                }
            }
        }
        .last-match{
            padding: 0 !important;
            .last-match__item{
                .info{
                    font-size: 2rem;
                }
                .opponents{
                    gap: 6rem !important;
                    .opponent{
                        .opponent-img{
                            width: 10rem;
                            height: 10rem;
                        }
                        .opponent-name{
                            font-size: 3rem;
                        }
                    }
                    .scores{
                        .scores-score{
                            font-size: 5rem;
                        }
                        .scores-separator{
                            font-size: 4rem;
                        }
                    }
                }
            }
            .ico-down{
                &:focus + .details{
                    transform: translateY(0rem);
                }
            }
            .details{
                transform: translateY(-30rem);
                z-index: -1;
                transition: .5s;
                background-color: $violet9z;
                color: #FFFFFF;
                border-radius: 1rem;
                transition: all 1s;
                font-size: 1.5rem;
            }
        }
        .next-match{
            .next-match__item{
                .info{
                    font-size: 2rem;
                }
             }
            .opponents{
                 gap: 6rem !important;
                 .opponent{
                    .opponent-img{
                        width: 10rem;
                        height: 10rem;
                    }
                    .opponent-name{
                        font-size: 3rem;
                    }
                 }
                 .scores{
                    .scores-separator{
                        font-size: 4rem;
                    }
                 }
            }
        }
        .twitter{
            grid-area: twitter;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .twitter__container{
                border: solid $violet9z .5rem;
                width: 75%;
                border-radius: 1rem;
            }
        }
        .shop{
            .card-shop{
                .card-img-index{
                    width: 25rem;
                }
            }
        }
    }
}
/*----------END INDEX----------*/