/*----------MATCHES----------*/
@media (min-width: 0px){
    .body__matches{
        display: grid;
        grid-template-areas: 
            "logo"
            "last"
            "next"
            "footer"
            "header"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        .last__matches{
            grid-area: last;
            .match-item{
                background-color: #FFFFFF;
                border-radius: 1rem;
                width: 90%;
                .data-game{
                    &__ico{
                        width: 3rem;
                    }
                    &__info{
                        width: 4rem;
                        text-align: center;
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }
                .opponents{
                    .opponent{
                        &-img{
                            height: 5rem;
                            width: 5rem;
                        }
                        &-name{
                            font-size: 1.5rem;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .scores{
                        &-score{
                            font-size: 3rem;
                            font-weight: 700;
                        }
                        &-separator{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                }
                &__details{
                    color: $violet9z;
                }
            }
        }
        .next__matches{
            grid-area: next;
            margin: 3rem 0;
            .match-item{
                background-color: #FFFFFF;
                border-radius: 1rem;
                width: 90%;
                .data-game{
                    &__ico{
                        width: 3rem;
                    }
                    &__info{
                        width: 4rem;
                        text-align: center;
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }
                .opponents{
                    .opponent{
                        &-img{
                            height: 5rem;
                            width: 5rem;
                        }
                        &-name{
                            font-size: 1.5rem;
                            font-weight: 700;
                            text-align: center;
                        }
                    }
                    .scores{
                        &-score{
                            font-size: 3rem;
                            font-weight: 700;
                        }
                        &-separator{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 768px){
    .body__matches{
        grid-template-areas: 
             "header"
             "last"
             "next"
             "footer"
        ;
        .last__matches{
            margin-top: 3rem;
            .match-item{
                background-color: $violet9z;
                color: #FFFFFF;
                .opponents{
                    gap: 5rem !important;
                    .scores{
                        gap: 1rem !important;
                    }
                }
                &__details{
                    font-size: 1.5rem;
                    h5{
                        font-size: 2rem;
                    }
                }
            }
        }
        .next__matches{
            margin-top: 3rem;
            .match-item{
                background-color: $violet9z;
                color: #FFFFFF;
                .opponents{
                    gap: 5rem !important;
                    .scores{
                        gap: 1rem !important;
                    }
                }
            }
        }
        
    }
}
@media (min-width: 1200px){
    .body__matches{
        grid-template-areas: 
            "header header"
            "last next"
            "footer footer"
        ;
        grid-template-columns: repeat(2,1fr);
        .last__matches{
            margin-bottom: 3rem;
            .match-item{
                @include itemMatch;
            }
        }
        .next__matches{
            margin-bottom: 3rem;
            .match-item{
                @include itemMatch;
            }
        }
    }
}
/*----------END MATCHES----------*/