@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    font-family: 'Questrial', sans-serif;
}
html{
    font-size: 62.5%;
    ::selection{
        background-color: #FFFFFF;
        color: $violet9z;
    }
}